.DS_Store
node_modules/
vendor/
dist/
build/
.env
.env.local
.env.*
data/photos/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
deploy_key*
.nyc_output
coverage/
.idea/
.vscode/
*.swp
*.swo
tmp/
